html{
    box-sizing: border-box;
    
}
*, *::before, *::after{
    box-sizing: inherit;
} 
body{
	overflow-x: hidden;
	color: #fff;
	
	

}
/* header start*/
.container{
	margin-left: 179px;
}
.nav{
	margin-top: 27px;
}
.logo{
	margin-right: 365px;
	color:#62D0DF;
	text-decoration: none;
	font-size: 24px;
	transition: opacity 0.2s;
}
.Thrivetalk:hover{
	opacity: 0.7;
}
.CONTACTS{
	position: relative;
	font-size: 14px;
	background-color:  #62D0DF;
	margin-left: 330px;
	color: #fff;
	border: 0;
	border-radius: 50px;
	width: 150px;
	height: 50px;
	transition: opacity 0.2s;
	z-index: 1;
}
.CONTACTS:hover{
	opacity: 0.7;
}
.nav_item{
	z-index: 1;
	font-size: 17px;	
	position: relative;
	margin-right: 25px;
	color: #000;
	text-decoration: none;
	transition: opacity 0.2s;
}
.nav_item:hover{
	opacity: 0.6;		
}
.lane{
	position: absolute;
	background-color: black;
	top:21px;
	left:-6px;
	width: 50px;
	height: 1px;
}
.header_flex{
	display: flex;
	justify-content: space-between;
}
.header_desc{
	margin-top: 187px;
	width: 484px;
	height: 527px;
}
.header_img{
	position: absolute;
	width: 807px;
	height: 546px;
	background: #EDFDFF;
	border-radius: 312.159px;
	transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
	top:0;
	right: -225px;
}
.header_img_item{
	position: absolute;
	top:6px;
	right: -28px;
}

.header_title{
	color:#62D0DF;
	text-decoration: none;
	font-size: 20px;
}
.sub_title{
	font-size: 41px;
	color: #22356F;
	margin: 50px 0 75px 0;
}
.desc{
	font-size: 24px;
	line-height: 36px;
	color: #22356f;
	margin-bottom: 66px;
}
.btn1{
	width: 150px;
	height: 40px;
	background-color: #F9B640;
	border: 0;
	color: #FFF;
	font-size: 16px;
	margin-right: 35px;
}
.btn1:hover{
	opacity: 0.8;
}
.btn2{
	width: 150px;
	height: 40px;
	background-color: transparent;
	border: 0;
	color: #FAB63E;
	font-size: 16px;
}
/*header end*/



/*info start*/
.why_thrive{
	margin-top: 80px;
	height: 607px;
	width: 100%;
	background-color: #62D0DF;
}
.info_flex{
	display: flex;
	justify-content: space-between;
	
}
.info_title{
	margin-top: 150px;
	font-size: 36px;
	margin-bottom: 75px;
}
.info_desc{
	font-size: 25px;
	line-height: 36px;
	width: 555px;
	margin-right: 240px;
}
/*info_end*/


/*<!-- about us start -->*/
.about_us{
	width: 1440px;
	height: 382px;
	margin-left: 29px;
}
.about_flex{
	display: flex;
	justify-content: space-between;
}
.about_title{
	margin-top: 156px;
	margin-left: 106px;
	color: #22356F;
	text-transform: uppercase;
}
.about_text{
	color: #22356F;
	margin: 0 auto;
	font-size: 23px;
	width: 592px;
	margin-top: 150px;
}
.about_foot{
	color: #9ea7c0;
	margin-top: 84px;
	margin-left: 50%;
}
/*about us end*/


 /*cards start*/
 .card_section{
 	width: 1500px;
 }
 .cards_flex{
 	display: flex;
 	justify-content: space-between;	

 }
 .card{
 	width: 375px;
 	height: 360px;
 	background-color: #FFE2DE;
 	margin-bottom: 120px;
 }
.card_title{
	position: absolute;
	font-size: 32px;
	margin: 107px 68px 0 78px;
}
.card_title:before{
	position: absolute;
	width: 9px;
	height: 9px;
	content: "";
	background-color: #E9B730;
	border-radius: 50%; 
	top:7px;
	left: -17px;
}
.card_line{
	margin: 70px 60px 23px 60px;
	position: absolute;
	background-color: #fff8f7;
	width: 265px;
	height: 2px;

}
.card2{
	width: 375px;
 	height: 360px;
 	background-color: #C4E769;
}
.card3{
	width: 375px;
 	height: 360px;
 	background-color: #62D0DF;;
}
.card4{
	width: 375px;
 	height: 360px;
 	background-color: #0052C1;
}

.big_cards_flex{
	width: 1500px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.big_card{
 	width: 500px;
 	height: 480px;
 	background-color:#22356F;

 }
.big_card_title{
	position: absolute;
	font-size: 32px;
	margin: 107px 68px 0 78px;
}
.big_card_title:before{
	position: absolute;
	width: 9px;
	height: 9px;
	content: "";
	background-color: #E9B730;
	border-radius: 50%; 
	top:7px;
	left: -17px;
}
.big_card_line{
	margin: 70px 60px 23px 60px;
	position: absolute;
	background-color: #e3e6ed;
	width: 340px;
	height: 2px;
}
.desc_card_flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.desc_card{
	width: 33.3%;
	color:#22356F;
	height: 240px;
	margin-top: 22px;
	padding-left: 95px;

}
.desc_card_t{
	width: 33.3%;
	color:#22356F;
	height: 240px;
	margin-top: 22px;
	padding-left: 95px;
	margin-top: 0;
}
.desc_title{
	font-size: 28px;
	margin: 55px 0 28px 0;
}
.text{
	width: 298px;
	color:rgba(34, 53, 111, 0.5);
}
 /*carsd end*/

/* should know  start*/
.should_know_flex{
	display: flex;
	justify-content: space-between;

}
.should_know_desc{
	margin-right: 70px;
}
.should_know_text{
	width: 676px;
	font-size: 44px;
	color: #22356F;
	margin-top: 225px;
	margin-bottom: 152px;
}
.should_know_title{
	color: #22356F;
	margin-top: 103px;
	font-size: 18px;	
}
.should_know_link{
	text-decoration: none;
	color: #FAB63E;
}

/*should know  end*/

/*contact_us start*/
.contact_us_flex{
	display: flex;
	justify-content: space-between;
}
.contact_us_desc{
	width: 1360px;
	background-color: #22356F;
}
.contact_us_title{
	margin-top: 103px;
	margin-left: 180px;
	
}
.contact_us_subtittle{
	margin-left: 173px;
	font-size: 64px;
	margin-top: 230px;
}
.contact_us_text{
	width: 579px;
	margin-top: 75px;
	font-size: 36px;
	margin-left: 173px;
	margin-bottom: 149px;
}
.contact_us_link{
	color:#62D0DF;
	text-decoration: none;
	margin-left: 173px;
	
}
/*contact_us end*/

/*last section start*/
.more_info_flex{
	display: flex;
	justify-content: space-between;

}
.more_info_card_flex{
	column-gap: 50px;
	color: #22356f;
	display: flex;
	justify-content: space-between;
}
.more_info_text{
	color:#909ab7;
	line-height: 31px;
}
.more_info_card{
	margin-top: 98px;
	color: #22356f;
	width: 240px;
	height: 210px;
}
.more_info_title{
	margin-bottom: 20px;
}
/*last section end*/
.footer{
	background-color:#62D0DF;
	height: 80px;
	width: 100%;
}
.footer_text{
	padding-top: 30px;
	margin-left: 194px;
}


@media all and (max-width: 1368px){
	.logo{
		margin-right: 230px;
	}
	.about_foot{
		margin-left: 550px;
	}
	.card_section{
		width: 100%;
	}
	.big_cards_flex{
		width: 1350px;
	}
	.big_card{
		width: 450px;
	}
	.desc_card{
		padding-left: 50px;
	}
	.should_know_desc{
		margin-right: 210px;
	} 
	.should_know_text{
		font-size: 40px;
	} 
	.more_info_card_flex{
		margin-left: 60px;
	}
	.contact_us_img{
		 margin-right: 151px;
	}
	.desc_card_t{
		padding-left: 45px;
	}
}

@media all  and (max-width: 1280px){
	.about_foot{
		margin-left: 497px; 
	}
	.desc_card_t{
		padding-left: 75px;
	}
	.card{
		width: 25%;
	}
	.card_line{
		width: 200px;
	}
	.big_cards_flex{
		width: 1280px;
	}
	.big_card{
		width: 426px;
	}
	.desc_card {
    padding-left: 75px;
	}
	.CONTACTS{
		margin-left: 185px;
	} 
	.desc_card_flex {
		width: 1280px;
	}
	.contact_us_img {
    	margin-right: 205px;
	}
	.footer {
		width: 123%;
	}
	.more_info_card{
		width: 200px;
	}
	.should_know_text {
		font-size: 30px;
		width: 571px;
	}
}

@media all  and (max-width: 1024px){
	.nav{
		margin-top: 35px;
		margin-right: 0;
	}
	.desc_card_t{
		padding-left: 45px;
	}
	.container{
		margin-left: 30px;
	}
	.logo {
		margin-right: 175px;
	}
	.header_img{
		right: -330px;
		top: -123px;
	}
	.header_img_item{
		width: 500px;
		right: -2px;
	}
	.CONTACTS{
		margin-left: 175px;
	}
	.info_desc{
		margin-right: 120px;
	}
	.about_us{
		width: 1185px;
	}
	.about_title{
		margin-left: 95px;
	}
	.about_foot{
		margin-left: 385px;
	}
	.card{
		width: 25%;
	}
	.card2{
		width: 25%;
	}
	.card3{
		width: 25%;
	}
	.card4{
		width: 25%;
	}
	.card_title {
		margin-left: 50px;
	}
	.card_line{
		width: 185px;
		margin-left: 45px;
	}
	.cards_flex{
		width: 1024px;
	}
	.big_cards_flex{
		width: 1024px;
	} 
	.big_card{
		width: 33.3%;
	}
	.big_card_line{
		margin-left: 33px;
		width: 285px;
	}
	.desc_card {
		padding-left: 45px;

	}
	.desc_card_flex{
		width: 1024px;
	}
	.should_know_flex{
		width: 1024px;
	} 
	.should_know_text{
		font-size: 25px;
		width: 427px;
	} 
	.should_know_desc{
		margin-left: 90px;
	}
	.contact_us_subtittle {
		margin-left: 13px;
	}
	.contact_us_text{
		margin-left: 13px;
	}
	.contact_us_img{
		margin-right: 430px;
	}
	.contact_us_title{
		font-size: 25px;
		margin-left: 200px;
	}
	.more_info_card_flex{
		column-gap: 100px;
		margin-left: 135px;	
		font-size: 21px;
	}
	.more_info_card{
		width: 210px;
	}
	.img_2{
		display: none;
	}
	.footer{
		margin-top: 40px;
	}
}
@media all and (max-width: 912px){
	.CONTACTS {
    margin-left: 120px;
	}
	.text{
		width: 270px;
	}
	.about_text{
		margin-left: 84px;
	}
	.about_foot{
		margin-left: 346px;
	}
	.cards_flex {
    width: 951px;
	}
	.big_cards_flex {
    width: 913px;
	}
	.big_card_line {
    margin-left: 10px;
	}
	.desc_card_flex {
    width: 912px;
	}
	.desc_card {
    padding-left: 20px;
	}
	.should_know_desc {
    margin-left: 45px;
	}
	.img_smile_man{
		width: 420px;
	}
	.should_know_flex {
    width: 965px;
	}
	.contact_us_img{
		display: none;
	}
	.contact_us_desc{
		padding-left: 218px;
	}
	.contact_us_title{
		margin-left: 160px;
	}
	.more_info_card_flex{
		margin-left: 85px;
	}
}
@media all and (max-width: 768px){
	.header_img_item{
		display: none;
	} 
	.nav{
		margin-top: 50px;
	}
	.header_img{
		display: none;
	}
	.header_desc {
		margin-top: 85px;
	}
	.header_title{
		display: none;
	}
	.CONTACTS{
		margin-left: 60px;
	}
	.logo{
		margin-right: 105px;
	}
	.about_text{
		margin-right: 240px;
	}
	.card_section{
		width: 100%;
	}
	.header_desc{
		margin-left:150px ;

	}
	.img_2_2{
		display: none;
	}
	.info_flex{
		padding-left: 85px;
	}
	.why_thrive{
		width: 100%;
	}
	.about_title {
		margin-left: 15px;
	}
	.about_text {
		margin-right: 483px;
		width: 500px;
	}
	.about_foot {
		margin-left: 250px;
	}
	.about_us{
		margin-bottom: 40px;
	}
	.card_title {
		font-size: 25px;
		margin-left: 34px;
	}
	.card_line{
		margin-left: 8px;
		width: 160px;
	}
	.big_card{
		width: 50%;
		height: 450px;
	}
	.big_cards_flex{
		width: 100%;
	}
	.big_card_section{
		width: 786px;	
	}
	.desc_card{
		width: 50%;
		height: 200px;
	}
	.desc_card_flex{
		width: 768px;
	}
	.desc_card_t{
		width: 50%;
    	height: 200px;
    	margin-top: 20px;
	}
	.img_smile_man{
		display: none;
	}
	.should_know_title {
		margin-top: 80px;
		font-size: 22px;
	}
	.should_know_text{
		margin-top: 120px;
		font-size: 28px;
		width: 531px;
		margin-bottom: 90px;
	}
	.contact_us_img{
		display: none;
	}
	.contact_us_desc{
		padding-left: 160px;
	} 
	.contact_us_subtittle{
		margin-top: 120px;
	}
	.contact_us_link {
		margin-left: 160px;
	}
	.contact_us_title{
		margin-left: 140px;
		font-size: 29px;
	}
	.more_info_card_flex{
		column-gap: 35px;
		margin-left: 90px;
		font-size: 19px;
	}
	.footer{
		width: 768px;
	}
	.cards_flex{
		width: 768px;
	}
}

@media all and (max-width: 425px){
	.nav{
		margin-left: -28px;
		margin-top: 30px;
	}
	.logo {
    	margin-right: 15px;
	}
	.desc{
		margin-bottom: 100px;
	}
	.CONTACTS {
    	margin-left: 127px;
    	margin-top: 60px;
	}
	.sub_title {
		font-size: 31px;
		margin-top: -6px;
	}
	.header_desc{
		margin-left: -11px;
	}
	.info_desc{
		margin-left: -49px;
		width: 385px;
	}
	.info_title{
		margin-top: 30px;
		margin-left: -30px;
	}
	.about_flex{
		display: block;
		width: 500px;
		font-size: 30px;
	}
	.about_title{
		margin-top: 57px;
	}
	.about_text{
		margin-top: 55px;
		width: 360px;
		font-size: 26px;
		margin-left: -13px;
	} 
	.about_foot{
		margin-top: 17px;
		margin-left: 80px;
	}
	.card{
		width: 50%;
	}
	.card2{
		width: 50%;
	}
	.card3{
		width: 50%;
		margin-top: -120px;
		margin-bottom: 10px;
	}
	.card4{
		width: 50%;
		margin-top: -120px;
	}
	.cards_flex{
		width: 415px;
		flex-wrap: wrap;

	}
	.desc_card_flex{
		width: 415px;
		flex-wrap: wrap;
	}
	.desc_card{
		margin-top: -12px;
		margin-bottom: 10px;
		font-size: 22px;
		width: 300px;
		margin-left: 53px;
	}
	.desc_title{
		margin-bottom: 20px;
		font-size: 30px;
	}
	.desc_card_t{
		margin-bottom: 10px;
		font-size: 22px;
		width: 300px;
		margin-left: -23px;
		width: 300px;
	}
	.should_know_desc{
		margin-top: 70px;
	}
	.should_know_title{
		font-size: 24px;
		margin-left: 17px;
	}
	.should_know_text {
		margin-top: 75px;
		width: 403px;
		margin-left: -30px;
		font-size: 23px;
	}
	.contact_us_desc{
		margin-top: 10px;
		margin-left: -150px;
	}
	.contact_us_text{
		font-size: 21px;
		width: 406px;
	}
	.contact_us_subtittle{
		font-size: 38px;
		margin-left: 70px;
	}
	.contact_us_title{
		margin-left: 110px;
		font-size: 34px;
	}
	.img_2{
		display: none;
	}
	.contact_us_link {
		margin-left: 25px;
	}
	.more_info_card_flex{
		margin-left: 16px;
		font-size: 16px;
		justify-content: space-around;
	}
	.more_info_text{
		font-size: 17px;
		line-height: 23px;
	}
	.more_info_card{
		margin-top: 70px;
		width: 110px;
	}
	.footer_text{
		margin-left: 55px;
	}
	.footer{
		margin-top: 20px;
	}
	.big_cards_flex{
		width: 420px;
		flex-wrap: wrap;
	}
	.big_card{
		width: 100%;		
	}
	.desc_card_t{
		margin-left: 26px;
	}
}

@media all and (max-width: 415px){
	.nav{
		margin-left: -22px;
		margin-top: 30px;
	}
	.nav_item{
		margin-right: 19px;
	}
	.logo {
    	margin-right: 23px;
	}
	.desc{
		margin-bottom: 100px;
	}
	.CONTACTS {
    	margin-left: 127px;
    	margin-top: 60px;
	}
	.sub_title {
		font-size: 31px;
		margin-top: -6px;
	}
	.header_desc{
		margin-left: 0px;
	}
	.info_desc{
		margin-left: -50px;
		width: 385px;
	}
	.desc_title {
		margin-left: 6px;
	}
	.info_title{
		margin-top: 30px;
		margin-left: -30px;
	}
	.about_flex{
		display: block;
		width: 500px;
		font-size: 30px;
	}
	.about_title{
		margin-top: 57px;
	}
	.about_text{
		margin-top: 55px;
		width: 360px;
		font-size: 26px;
		margin-left: -13px;
	} 
	.about_foot{
		margin-top: 17px;
		margin-left: 80px;
	}
	.card{
		width: 50%;
	}
	.card2{
		width: 50%;
	}
	.card3{
		width: 50%;
		margin-top: -120px;
		margin-bottom: 10px;
	}
	.card4{
		width: 50%;
		margin-top: -120px;
	}
	.cards_flex{
		width: 415px;
		flex-wrap: wrap;

	}
	.desc_card_flex{
		width: 415px;
		flex-wrap: wrap;
	}
	.desc_card{
		margin-top: -12px;
		margin-bottom: 10px;
		font-size: 22px;
		width: 300px;
		margin-left: 53px;
	}
	.desc_title{
		margin-bottom: 20px;
		font-size: 30px;
	}
	.desc_card_t{
		margin-bottom: 10px;
		font-size: 22px;
		width: 300px;
		margin-left: 30px;
		width: 300px;
	}
	.should_know_desc{
		margin-top: 70px;
	}
	.should_know_title{
		font-size: 24px;
		margin-left: 2px;
	}
	.should_know_text {
		margin-top: 75px;
		width: 403px;
		margin-left: -39px;
		font-size: 23px;
	}
	.contact_us_desc{
		margin-top: 10px;
		margin-left: -160px;
	}
	.contact_us_text{
		font-size: 21px;
		width: 406px;
	}
	.contact_us_subtittle{
		font-size: 38px;
		margin-left: 64px;
	}
	.contact_us_title{
		margin-left: 110px;
		font-size: 34px;
	}
	.img_2{
		display: none;
	}
	.contact_us_link {
		margin-left: 40px;
	}
	.more_info_card_flex{
		margin-left: 16px;
		font-size: 16px;
		justify-content: space-around;
	}
	.more_info_text{
		font-size: 17px;
		line-height: 23px;
	}
	.more_info_card{
		margin-top: 70px;
		width: 110px;
	}
	.footer_text{
		margin-left: 55px;
	}
	.footer{
		margin-top: 20px;
	}
}

@media all and (max-width: 375px){
	.nav_item{
		display: none;
	}
	.CONTACTS {
		position: absolute;
    	margin-left: 77px;
    	margin-top: -10px;
	}
	.sub_title{
		font-size: 30px;
	}
	.info_desc{
		width: 366px;
	}
	.info_title{
		margin-left: -50px;
	}
	.desc_card{
		margin-left: 30px;
	}
	.desc_card_t{
		margin-left: 4px;
	}
	.should_know_text{
		width: 373px;
	}
	.contact_us_text{
		width: 335px;
		margin-left: 35px;
	}
	.more_info_card_flex{
		width: 352px;
	}
}
@media all and (max-width: 320px){
	.CONTACTS {
    	margin-left: 40px;
	}
	.sub_title{
		font-size: 27px;
		width: 317px;
		margin-left: -5px;
	}
	.desc{
		margin-left: -8px;
	}
	.btn1 {
		margin-right: 5px;
		margin-left: -17px;
	}
	.info_title {
    	margin-left: -36px;
    	margin-bottom: 57px;
	}
	.info_desc{
		width: 320px;
		margin-left: -48px;
		font-size: 16px;
	}
	.why_thrive {
		width: 150%;
		height: 430px;
	}
	.about_text{
		width: 300px;
		font-size: 23px;
	}
	.about_foot {
		margin-left: 46px;
	}
	.cards_flex{
		width: 320px;
	}
	.card_title{
		font-size: 21px;
	} 
	.card_line{
		width: 140px;
	}
	.desc_card {
		margin-left: 8px;
	}
	.desc_card_t {
    	margin-left: -19px;
	}
	.should_know_title {
    	font-size: 22px;
 		margin-left: -25px;
	}
	.should_know_text{
		font-size: 21px;
		width: 308px;
		margin-left: -31px;
	} 
	.contact_us_title{
		margin-left: 70px;
	}
	.contact_us_subtittle {
		margin-left: 39px;
	}
	.more_info_card_flex {
		margin-left:11px;	
		width: 320px;
	}
	.more_info_card{
		margin-top: 47px;
	}
	.footer{
		margin-top: 80px;
	}
}	
